<div class="container comment-container">
    <h2 class="mb-4">Comments</h2>

    <!-- Comments Display -->
    <div class="list-group" *ngIf="comments.length > 0; else noComments">
        <li class="list-group-item" *ngFor="let comment of comments">
            <div class="comment-content">
                <div class="comment-text">
                    <strong>{{comment.author}}</strong>: {{ comment.content }}
                </div>
                <div class="comment-details">
                    <small class="comment-date">{{ comment.date | date: 'medium' }}</small>
                </div>
            </div>
        </li>
    </div>
    <ng-template #noComments>
        <p class="mt-3 no-comments">No comments available.</p>
    </ng-template>

    <!-- Comment Form with Border -->
    <form class="mt-4 comment-form">
        <div class="mb-3">
            <input name="author-input" type="text" class="form-control" id="author" placeholder="Author:"
                [(ngModel)]="author" />
        </div>
        <div class="mb-3">
            <textarea name="content-input" class="form-control" id="content" placeholder="Comment:"
                [(ngModel)]="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary align-self-end" (click)="addComment(author, content)">
            Send
        </button>
    </form>
</div>