.comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: flex-end;
}

.comment-form {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.list-group {
    width: 80%;
    max-width: 500px;
    overflow-y: auto;
}

.list-group-item {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.list-group-item:last-child {
    margin-bottom: 0;
}

.no-comments {
    margin: 20px 0;
    color: #666;
}

.comment-form textarea {
    resize: none;
    overflow-y: hidden;
    height: auto;
}

.comment-content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.comment-date {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #666;
    font-size: 12px;
}

.comment-details {
    margin-top: 15px;
    color: #666;
    font-size: 12px;
}

.comment-text {
    word-wrap: break-word;
}